---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page not found">
	<main>
		<h1>Page not found</h1>
		<p>Sorry, we couldn't find the page you were looking for.</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: 80%;
		text-align: center;
	}
</style>
