---
import Layout from "../layouts/Layout.astro";
---

<Layout title="årsoppgave">
	<main>
		<h1>About</h1>
		<p>
			This website lets you upload videos and share them with others.
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 80%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
		text-align: center;
	}

	h1 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1em;
	}
</style>
