---
import Layout from "../layouts/Layout.astro";
import Dropdown from "../components/Dropdown.astro";
---

<Layout title="FAQ">
	<main>
		<Dropdown title="How do i use this?">
			<p>
				Press the upload button on the front page, select a video, and hit upload. The video will be avaliable below the upload button.
			</p>
		</Dropdown>



		<Dropdown title="How do i share a video?">
			<p>
				From the video page, copy the link in the address bar and send it to whoever you want to share the video with.
			</p>
		</Dropdown>



		<Dropdown title="How do i delete a video?">
			<p>
				Press the delete button on the video you want to delete.
			</p>
		</Dropdown>
	</main>

	<style>
		main {
			margin: auto;
			padding: 1rem;
			width: 80%;
			color: white;
			font-size: 20px;
			line-height: 1.6;
		}

		h1 {
			font-size: 2rem;
			font-weight: 700;
			line-height: 1;
			text-align: center;
			margin-bottom: 1em;
		}
	</style>
</Layout>
