---
import Layout from "../layouts/Layout.astro";
import Dropdown from "../components/Dropdown.astro";
---

<Layout title="FAQ">
	<main>
		<Dropdown title="test tedfskjsdjfncv">
			<p>test content dhfshhdfgfdg</p>
		</Dropdown>



		<Dropdown title="kjhgfdfcvghj">
			<p>test content</p>
		</Dropdown>



		<Dropdown title="code test">
			<!-- ccoede uhhhhhhhhhhhhhhhhhhhhhhhhh -->
		</Dropdown>
	</main>

	<style>
		main {
			margin: auto;
			padding: 1rem;
			width: 80%;
			color: white;
			font-size: 20px;
			line-height: 1.6;
		}

		h1 {
			font-size: 2rem;
			font-weight: 700;
			line-height: 1;
			text-align: center;
			margin-bottom: 1em;
		}
	</style>
</Layout>
