---
import Layout from "../layouts/Layout.astro";
import Videolist from "../components/Videolist.astro";
import UploadButton from "../components/UploadButton.astro";
---

<Layout title="årsoppgave">
	<main>
		<h1></h1>

		<div class="center upload">
			<UploadButton />
		</div>

		<Videolist />
	</main>
</Layout>

<script>
	const response = fetch("/api/checksession", {
		method: "POST",
		body: JSON.stringify({ session: localStorage.getItem("session") }),
		headers: {
			"Content-Type": "application/json",
		},
	})
		.then((res) => res.json())
		.then((data) => {
			if (data.success) {
				document.querySelector("h1").innerHTML = "Hello, " + data.username;
			}
		});
</script>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 80%;
		color: var(--text);
	}

	h1 {
		font-size: 2rem;
		font-weight: 700;
		text-align: center;
		margin-bottom: 1em;
	}

	.center {
		width: fit-content;
		margin: auto;
	}

	.upload {
		margin-bottom: 12px;
	}
</style>
