---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="årsoppgave">
	<main>
		<h1>placehloder text</h1>
	</main>

	<div class="videolist">
		<Card title="test video" id="1" />
		<Card title="test video" id="1" />
		<Card title="test video" id="1" />
		<Card title="test video" id="1" />
		<Card title="test video" id="1" />
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: var(--text);
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	/* TODO: somehow make this centered */
	.videolist {
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		width: 90%;
	}

	@media (max-width: 800px) {
		.videolist {
			flex-direction: column;
		}
	}
</style>
