---
import Layout from "../layouts/Layout.astro";
import RegisterForm from "../components/RegisterForm.astro";
---

<Layout title="Register">
	<main>
		<RegisterForm />
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 70vh;
	}
</style>
