---
interface Props {
	text: string;
	type: "button" | "submit" | "reset";
	classlist?: string;
}

const { text, type, classlist } = Astro.props;
---

<button type={type} class={`button ${classlist}`}>{text}</button>

<style>
	.button {
		margin: 10px;
		border: none;
		font-size: 1.2em;
		padding: 12px 18px;
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
		font-weight: bold;
		border-radius: 8px;
		color: var(--text);
		background-color: var(--background-4);
		transition: background-color 0.2s ease;
		cursor: pointer;
	}

	.button:hover {
		background-color: var(--background-5);
	}

	.button:active {
		background-color: var(--background-6);
	}
</style>
