<footer>
	<ul>
		<li><a href="">ascjv</a></li>
		<li><a href="">cvjhxfhs</a></li>
		<li><a href="">ksdsdf</a></li>
		<li><a href="">sdfjsdhfds</a></li>
	</ul>
</footer>

<style>
	footer {
		background-color: var(--background-light);
		padding: 20px;
		text-align: center;
		width: 100%;
		margin-top: 500px;
	}

	footer ul {
		list-style: none;
		padding: 0;
	}

	footer ul li {
		display: inline;
		opacity: 0.7;
		transition: opacity 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		margin: 0 10px;
	}
	
	footer ul li:hover {
		opacity: 1;
	}

	footer ul li a {
		color: var(--text);
		text-decoration: none;
	}
</style>
