<nav>
	<div class="navleft">
		<a href="/" draggable="false">Home</a>
		<a href="/about" draggable="false">About</a>
	</div>

	<div class="navright">
		<a href="/login" draggable="false">Login</a>
		<a href="/register" draggable="false">Register</a>
	</div>
</nav>

<style>
	nav {
		background-color: var(--background-2);
		padding: 0.5rem;
		display: flex;
		flex-direction: row;
	}

	nav a {
		color: var(--text);
		text-decoration: none;
		margin-right: 1rem;
		user-select: none;
		display: inline-block;
		padding: 10px;
	}

	nav a:hover {
		text-decoration: underline;
	}

	.navright {
		margin-left: auto;
	}
</style>
