<nav>
	<div class="navleft">
		<a href="/" draggable="false">Home</a>
		<a href="/about" draggable="false">About</a>
		<a href="/faq" draggable="false">FAQ</a>
	</div>

	<div class="navright">
		<a href="/login" draggable="false">Login</a>
		<a href="/register" draggable="false">Register</a>
	</div>
</nav>

<script>
	// make current site bold in navbar
	const links: NodeListOf<HTMLAnchorElement> = document.querySelectorAll("nav a");

	links.forEach((link: HTMLAnchorElement) => {
		if (link.href === window.location.href) {
			link.style.fontWeight = "bold";
		}
	});

	// hide login and register if logged in
	const response = fetch("/api/checksession", {
		method: "POST",
		body: JSON.stringify({ session: localStorage.getItem("session") }),
		headers: {
			"Content-Type": "application/json",
		},
	})
		.then((res) => res.json())
		.then((data) => {
			if (data.success) {
				document.querySelector(".navright").innerHTML = `
				<a href="/" draggable="false">Logout</a>
			`;
				document.querySelector(".navright a").style.color = "var(--text)";
				document.querySelector(".navright a").style.textDecoration = "none";
				document.querySelector(".navright a").style.marginRight = "1rem";
				document.querySelector(".navright a").style.display = "inline-block";
				document.querySelector(".navright a").style.padding = "10px";

				document.querySelector(".navright a").addEventListener("click", () => {
					localStorage.removeItem("session");
					window.location.href = "/";
				});
			}
		});
</script>

<style>
	nav {
		background-color: var(--background-2);
		padding: 0.5rem;
		display: flex;
		flex-direction: row;
		user-select: none;
	}

	nav a {
		color: var(--text);
		text-decoration: none;
		margin-right: 1rem;
		display: inline-block;
		padding: 10px;
	}

	nav a:hover {
		text-decoration: underline;
	}

	.navright {
		margin-left: auto;
	}
</style>
