<nav>
	<a href="/" draggable="false">Home</a>
	<a href="/about" draggable="false">About</a>
</nav>

<style>
	nav {
		background-color: var(--background-light);
		padding: 1rem;
	}

	nav a {
		color: var(--text);
		text-decoration: none;
		margin-right: 1rem;
		user-select: none;
	}

	nav a:hover {
		text-decoration: underline;
	}
</style>
