---
import { AstroError } from "astro/errors";
import Button from "../components/Button.astro";

interface Props {
	type: "Register" | "Log in";
}

const { type } = Astro.props;

if (Astro.request.method === "POST") {
	const data = await Astro.request.formData();
	const username = data.get("username");
	const password = data.get("password");

	let exists = false;

	// TODO: refactor D:
	await fetch(Astro.url.origin + "/api/checkusername?username=" + username, {
		method: "GET",
	})
		.then((response) => {
			return response.json();
		})
		.then((data) => {
			exists = data.exists;
			if (!exists) {
				fetch(Astro.url.origin + "/api/register", {
					method: "POST",
					body: JSON.stringify({ username, password }),
					headers: {
						"Content-Type": "application/json",
					},
				});
			}
		});
}
---

<form action="/register" method="POST">
	<label for="username">Username</label>
	<input type="text" id="username" name="username" required minlength="2" />
	<label for="password">Password</label>
	<input type="password" id="password" name="password" required minlength="6" />
	<Button type="submit" text={type} />
</form>

<style>
	form {
		display: flex;
		flex-direction: column;
	}

	label {
		margin-bottom: 0.5rem;
		user-select: none;
	}

	input {
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
		border: none;
		outline: none;
		border-radius: 0.25rem;
		padding: 0.5rem;
		margin-bottom: 1rem;
		background-color: var(--background-2);
		color: var(--text);
	}

	input:focus {
		outline: 2px solid var(--accent);
	}

	button {
		margin-top: 1rem;
	}
</style>
